.embed-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;

    .iframe-container {
        position: relative;
        width: 100%;
        padding-top: 100%; // 1:1 aspect ratio
        overflow: hidden;
        border-radius: var(--border-radius);
        box-shadow: 0 2px 8px rgba(63, 69, 81, 0.16);
        margin-bottom: 1rem;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            border: none;
            width: 100%;
            height: 100%;
        }
    }

    .image-preview {
        width: 100%;
        object-fit: contain;
        border-radius: var(--border-radius);
    }

    a {
        font-weight: bold;
        text-decoration: none;
        color: #333;

        &:hover {
            text-decoration: underline;
        }
    }
}