@import '/src/styles/main';

.skill-card {
  cursor: pointer;
  border: 1px solid #ddd;
  padding: var(--padding) 0;
  background-color: rgba(var(--white-color));
  border-radius: var(--border-radius);
  text-align: center;
  width: 100%;
  min-width: 260px;
  transition: all 0.2s ease;
  margin:0 auto;
  max-width:96vw;
  


  &__image {
    width: 100%;
    max-width: 150px;
    margin: 0 auto 15px auto;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 1.3rem;
    display: block;
  }

  &__description {
    margin-top: 1rem;
    padding: 0 var(--small-padding) var(--small-padding);
  }

  &__list-title {
    margin-top: 1rem;
    font-size: 1.1rem;
  }

  &__tech-list {
    margin-top: 0.5rem;
    list-style: disc inside;
    text-align: left;
    padding: 0 1rem;
  }

  &__tech-item {
    margin: 0.25rem 0;
  }
}
