@import '/src/styles/main';

.social-links-container {
    display: flex;
    flex-direction: row;
    gap: var(--small-gap);
    justify-content: center;
    align-items: center;

    .social-link:hover {
        color:rgb(var(--darkgreen)) !important;
    }
}