@import '/src/styles/main';

.about-me {
    @include flex-column;
    padding: 2rem;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--white-color);


    &__header {
        font-size: 2rem;
        padding-left: 1rem;
    }

    &__contact-info {
        @include flex-column;
        gap: var(--small-gap);
        width: 100%;
        text-align: left;
        align-items: flex-start;
    }

    &__intro {
        @include flex-column;
        align-items: flex-start;
        gap: var(--small-gap);
        font-weight: 600;

        p {
            font-size: 1.2rem !important;
        }
    }

    &__title {
        width: 100%
    }

    &__bio {
        @include flex-column;
        align-items: flex-start;
        flex: 1;
        gap: var(--small-gap);
    }


    &__subheader {
        font-weight: 600;
        padding-left: 1rem;
        margin-bottom: 1rem;

        &::after {
            content: "";
            display: block;
            width: 32px;
            padding-top: 3px;
            border-bottom: 2px solid #757576;
        }
    }

    &__content {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;

        padding: var(--padding);
        background-color: var(--white-color);

        @media (min-width: 768px) {
            flex-direction: row;
            align-items: flex-start;
            max-width: 1000px;
            margin: 0 auto;
            padding: var(--large-padding);
            background-color: var(--white-color);
            border-radius: var(--border-radius);

        }
    }

    &__text {
        flex: 1;
        font-size: 1rem;
        line-height: 1.6;
        padding: 0 1rem;
    }

    &__image-wrapper {
        flex: 1;
        display: flex;
        justify-content: center;
        padding: var(--small-padding);
        ;
    }

    &__image {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
    }

}

.tech-stack {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 1rem 0;
}

.tech-stack__section {
  h4 {
    margin-bottom: 0.75rem;
    font-weight: 600;
    font-size: 1.1rem;
  }

  ul {
    list-style: disc inside;

    li {
      margin-bottom: 0.4rem;
    }
  }
}