/* Google Fonts import for Exo, Lato, and Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'PangramSans-Regular';
  src: url('../assets/fonts/PPPangramSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Cup-cakes';
  src: url('../assets/fonts/CupCakes.otf') format('opentype');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'PangramSans-Medium';
  src: url('../assets/fonts/PPPangramSans-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'PangramSans-Light';
  src: url('../assets/fonts/PPPangramSans-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GlacialIndifference-Regular';
  src: url('../assets/fonts/GlacialIndifference-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GlacialIndifference-Bold';
  src: url('../assets/fonts/GlacialIndifference-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


.main-content {
  max-width: 95vw;
}

body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Atkinson Hyperlegible', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: var(--black-color);
  scroll-behavior: smooth;
  background-color: #f9f9f9;

}

a {
  cursor: pointer;
}


.slick-dots {

  margin-top: 0 !important;

}




h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PangramSans-Medium';
  color: rgba(var(--dark-color))
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h2,
h3,
h1 {
  font-weight: 600;
}

p {
  font-family: 'Atkinson Hyperlegible';
}




/* Active effect */
button:active {
  transform: translateY(0);
  opacity: 0.9;
}

ul {
  font-family: 'PangramSans-Regular';
}

/* Styling for links */
a {
  cursor: pointer;
  font-family: 'Cup-cakes';
  letter-spacing: -0.1rem;
  font-size: 16px;
  @include flex-row;
  gap: 0.5rem;
  white-space: nowrap;
  flex-wrap: nowrap;

}


#hs-overlay-cta-92296409586 {
  display: none !important;
}

/* Mobile styles for buttons on smaller screens */
@media (max-width: 1000px) {}