@import '/src/styles/main';

.skills-section {
    @include flex-column;
    gap: var(--small-gap) !important;
    max-width: 1000px;
    margin-top: 2rem;

    .skills-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 0.6rem;
        margin: 0 auto;
        justify-items: center;
        align-content: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1000px;

        ul {
            list-style: none;
            padding-top: var(--xs-padding);
            text-align: center;
        }

        .card {
            max-width: 350px;

        }
    }
}

@media (max-width: 768px) {
    .skills-cards {
        @include flex-column;
    }
}