@import '/src/styles/main';

nav {
  a {


    &:hover:not(.logo) {
      background-color: rgb(var(--darkgreen, 0.7)) !important;
    }
  }

  .social-links-container {

    .social-link {
      border-radius: 0.375rem;
      padding: 0.25rem 0.75rem;
      
    }
  }
}