@import '/src/styles/main';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  padding: var(--padding);
  width: 100%;
  border-top: 1px solid #ddd;
  margin-top: var(--padding);
  font-family: 'roboto';



  strong {
    @include flex-column;
    font-family: 'Cup-cakes';

  }

  &__logo-section {
    @include flex-column;
    flex: 1;
    text-align: center;

    img {
      max-width: 200px;
    }
  }

  &__copyright {
    font-size: 0.9rem;
    color: var(--black-color);
  }

  &__pages,
  &__contact {
    @include flex-column;
    gap: 0.5rem;
    flex: 1;
  }

  &__contact {

    a {
      color: rgba(var(--darkgreen)) !important;
      text-decoration: none;
      font-size: 18px;
      transition: color 0.3s ease;
      font-weight: 500;

    }
  }


}

@media (max-width: 768px) {
  .footer {

    gap: var(--gap);

  }
}