@import '/src/styles/main';

.about-page {

  &__container {

    @include flex-column;
    padding: 3rem 0;
    max-width: 1200px;
    margin: 0 auto;

  }


  &__header {
    text-align: center;
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    font-size: 1.2rem;
    color: var(--black-color);
  }

  &__content {
    @include flex-column;

    gap: 4rem;
    max-width: 1200px;
    padding: 0 var(--padding);

  }

}